cinema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.example.com"
    xmlns="https://www.example.com"
    elementFormDefault="qualified"
>

    <xs:element name="movies">
        <xs:complexType>
            <xs:sequence>

              <xs:element name="film" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element name="genre" type="xs:string"/>
                        <xs:element name="director" type="xs:string"/>
                        <xs:element name="duration" type="xs:duration"/>
                        <xs:element name="contentRating" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>